<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node JS</title>
    <style media="screen">
      body {color: white; background-color: skyblue; padding: 30px;}
      h1 {font-size: 48px; text-align: center; text-transform: uppercase; letter-spacing: 2px;}
      h2 { text-align: center;}
    </style>
  </head>
  <body>
    <!--- adding pratials --->
    <% include partials/nav %>
    <h1>Welcome to the most awecome website on the net.</h1>
    <h2>You wont find a better website anywhere else!</h2>
  </body>
</html>
