<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node JS</title>
    <style media="screen">
      body {color: white; background-color: skyblue; padding: 30px;}
      h1 {font-size: 48px; text-align: center; text-transform: uppercase; letter-spacing: 2px;}
      h2 {font-size: 36px; text-align: center;}
      p { font-size: 16px; text-align: center;}
    </style>
  </head>
  <body>
    <!--- adding pratials --->
    <% include partials/nav %>
    <h1>This is the profile of <%= name %></h1>
    <h2><strong>Age: </strong><small><%= data.age %></small></h2>
    <h2><strong>Job: </strong><small><%= data.job %></small></h2>
    <h2>Hobbies</h2>
    <ul style="text-align:center;list-style-type:none;">
      <!--- adding Javascript code in .ejs file--->
      <% data.hobbies.forEach(function(item) { %>
        <li><%= item %></li>
      <% }) %>
    </ul>
  </body>
</html>
